<div>
  <!-- No selection -->
  <div *ngIf="!selectedJob" class="test-package-none-selected">
    <h3>Select a scoring job to view more details</h3>
  </div>
  <ng-container *ngIf="selectedJob">
    <span class="h3 blue-dark">Job ID: {{selectedJob.id}}</span>
    <label class="date-label">Date Created (UTC): {{ selectedJob?.createdAt.toUTCString() }}</label>
  </ng-container>

  <div *ngIf="selectedJob?.steps.length > 0" class="scoring-job-details">
    <div class="test-package-job-error-list-container">
      <p-dataTable [value]="selectedJob.steps"
                   dataKey="id"
                   tableStyleClass="table table-striped table-hover"
                   sortField="createdAt"
                   sortOrder="-1"
                   [scrollable]="true"
                   scrollHeight="230px">
        <p-column field="jobStepTarget" header="System" [sortable]="false" [style]="{width:'100px'}"></p-column>
        <p-column field="createdAt" header="Date" [sortable]="true"[style]="{width:'200px'}">
          <ng-template let-step="rowData" pTemplate="body">
            {{ formatDate(step.createdAt)}}
          </ng-template>
        </p-column>
        <p-column field="status" header="Status" [sortable]="false" [style]="{width:'105px'}">
          <ng-template let-step="rowData" pTemplate="body">
            <span *ngIf="step.status === 'SUCCESS'" class="green">{{ step.status}}</span>
            <span *ngIf="step.status === 'FAIL'" class="red">{{ step.status}}</span>
            <span *ngIf="step.status !== 'SUCCESS' && step.status !== 'FAIL'">{{ step.status}}</span>
          </ng-template>
        </p-column>
        <p-column field="description" header="Description"></p-column>
      </p-dataTable>
      <div class="scoring-action-buttons">
        <label>Overall Status: {{ selectedJob?.status }}</label>
        <button class="btn btn-default" [attr.disabled]="!selectedJob?.originalTrtSaved ? '' : null"
                (click)="downloadOriginalTrt(selectedJob?.id)">
          <i class="fa fa-download"></i> Original TRT
        </button>
        <button class="btn btn-default" [attr.disabled]="!selectedJob?.complete ? '' : null"
                (click)="downloadRescoredTrt(selectedJob?.id)">
          <i class="fa fa-download"></i> Re-scored TRT
        </button>
        <button class="btn btn-default" [attr.disabled]="!selectedJob?.complete ? '' : null"
                (click)="openScoringValidationModal(template)">
          <i class="fa fa-download"></i> Scoring Validation Report
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Scoring Validation Report - Job {{ selectedJob?.id }}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="general">
      <div class="row">
        <div class="col-md-3">Exam ID:</div>
        <div class="col-md-7">{{ selectedJob?.examId }}</div>
      </div>
      <div class="row">
        <div class="col-md-3">Test ID:</div>
        <div class="col-md-7">{{ selectedJob?.assessmentId }}</div>
      </div>
      <div class="row">
        <div class="col-md-3">Student Name:</div>
        <div class="col-md-7">{{ selectedJob?.studentName }}</div>
      </div>
    </div>

    <div class="diff-container">
      <div *ngIf="!scoringReport.differenceReport">
        No differences found between the original test results and re-scored test results.
      </div>
      <div *ngIf="scoringReport.differenceReport">
        <label>Exam Score Differences:</label>
        <div class="row header">
          <div class="col-md-2">Measure Of</div>
          <div class="col-md-2">Measure Label</div>
          <div class="col-md-2">Original Value</div>
          <div class="col-md-2">Original Standard Error</div>
          <div class="col-md-2">New Value</div>
          <div class="col-md-2">New Standard Error</div>
        </div>
        <div class="row" *ngFor="let score of scoringReport.differenceReport.opportunity?.scores; let index=index; let odd=odd; let even=even;"
             [ngClass]="{ odd: odd, even: even }">
          <div class="col-md-2"> {{ score.identifier.measureOf }}</div>
          <div class="col-md-2"> {{ score.identifier.measureLabel }}</div>
          <div class="col-md-2">
            <span *ngIf="score.value?.from">{{ score.value?.from }}</span>
            <span *ngIf="!score.value?.from">-</span>
          </div>
          <div class="col-md-2">
            <span *ngIf="score.standardError?.from">{{ score.standardError?.from }}</span>
            <span *ngIf="!score.standardError?.from">-</span>
          </div>
          <div class="col-md-2">
            <span *ngIf="score.value?.to">{{ score.value?.to }}</span>
            <span *ngIf="!score.value?.to">-</span>
          </div>
          <div class="col-md-2">
            <span *ngIf="score.standardError?.to">{{ score.standardError?.to }}</span>
            <span *ngIf="!score.standardError?.to">-</span>
          </div>
        </div>

        <label>Item Score Differences:</label>
        <div class="row header">
          <div class="col-md-2">Item Key</div>
          <div class="col-md-2">Position</div>
          <div class="col-md-2">Original Score</div>
          <div class="col-md-2">Original Score Status</div>
          <div class="col-md-2">New Score</div>
          <div class="col-md-2">New Score Status</div>
        </div>
        <div class="row" *ngFor="let item of scoringReport.differenceReport.opportunity?.items; let index=index; let odd=odd; let even=even;"
             [ngClass]="{ odd: odd, even: even }">
          <div class="col-md-2"> {{ item.identifier.bankKey }}-{{ item.identifier.key}}</div>
          <div class="col-md-2"> {{ item.identifier.position }}</div>
          <div class="col-md-2">
            <span *ngIf="item.score?.from">{{ item.score?.from }}</span>
            <span *ngIf="!item.score?.from">-</span>
          </div>
          <div class="col-md-2">
            <span *ngIf="item.scoreStatus?.from">{{ item.scoreStatus?.from }}</span>
            <span *ngIf="!item.scoreStatus?.from">-</span>
          </div>
          <div class="col-md-2">
            <span *ngIf="item.score?.to">{{ item.score?.to }}</span>
            <span *ngIf="!item.score?.to">-</span>
          </div>
          <div class="col-md-2">
            <span *ngIf="item.scoreStatus?.to">{{ item.scoreStatus?.to }}</span>
            <span *ngIf="!item.scoreStatus?.to">-</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
