<div>
  <div class="form-group">
    <div class="flex-children gray-lightest pt-sm pr-sm pb-sm pl-sm test-package-jobs-search-form-container">
      <label for="search" class="sr-only">Search by Test Package Name</label>
      <div class="flex-child grow">
        <input [(ngModel)]="searchTerm"
               class="flex-child search form-control"
               id="search"
               type="text"
               placeholder="Search by Test Package Name"
               autocomplete="off"
               (ngModelChange)="onSearchChange()">
      </div>
      <div class="flex-child"><button class="flex-child btn view-loaded-test-packages" (click)="statusClick()">View Loaded Test Packages</button></div>
      <div class="flex-child"><button class="btn btn-primary upload-test-package" (click)="uploadClick()">Upload New Test Package</button></div>
    </div>
  </div>

  <div class="test-package-jobs-list-container">
    <p-dataTable [value]="testPackageStatuses"
                 emptyMessage="No Test Packages have been loaded."
                 dataKey="name"
                 sortField="uploadedAt"
                 [sortOrder]="-1"
                 selectionMode="single"
                 tableStyleClass="table table-striped table-hover overflow"
                 [paginator]="true"
                 [rows]="10">
      <p-column field="name" header="Test Package Name" [sortable]="true"></p-column>
      <p-column field="uploadedAt" header="Last Uploaded At" [sortable]="true">
        <ng-template let-status="rowData" pTemplate="body">
          {{ status.uploadedAt | date: 'short' }}
        </ng-template>
      </p-column>
      <p-column field="tdsStatus" header="TDS">
        <ng-template let-status="rowData" pTemplate="body">
          <i [class]="getStatusIconCss(status.tdsStatus)" [title]="getStatusDescription(status.tdsStatus, 'TDS')"></i>
        </ng-template>
      </p-column>
      <p-column field="artStatus" header="ART">
        <ng-template let-status="rowData" pTemplate="body">
          <i [class]="getStatusIconCss(status.artStatus)" [title]="getStatusDescription(status.artStatus, 'ART')"></i>
        </ng-template>
      </p-column>
      <p-column field="tisStatus" header="TIS">
        <ng-template let-status="rowData" pTemplate="body">
          <i [class]="getStatusIconCss(status.tisStatus)" [title]="getStatusDescription(status.tisStatus, 'TIS')"></i>
        </ng-template>
      </p-column>
      <p-column field="thssStatus" header="THSS">
        <ng-template let-status="rowData" pTemplate="body">
          <i [class]="getStatusIconCss(status.thssStatus)" [title]="getStatusDescription(status.thssStatus, 'THSS')"></i>
        </ng-template>
      </p-column>
      <p-column header="Delete">
        <ng-template let-status="rowData" pTemplate="body">
          <button type="button" (click)="deleteTestPackage(status.name)" class="fa fa-trash-o"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
