
.status-is-deleted {
  color: #900;
  background-color: #fee !important;
}

.disabled-button {
  color: #999;
  background-color: #eee;
  border-radius: 4px;
}

.ui-paginator-pages {
  text-align: center;
  font-size: 20px;

  a {
    padding: 2px;
  }
}
