<div>
  <!-- Test Package Jobs Table -->
  <div class="form-group row">
    <div class="flex-children pt-sm pr-sm pb-sm pl-sm test-package-jobs-search-form-container">
      <label for="search" class="sr-only">Search by Test Package Name</label>
      <div class="flex-child grow">
        <input [(ngModel)]="searchTerm" class="flex-child search form-control" id="search" type="text" placeholder="Search by Test Package Name"
             autocomplete="off" (ngModelChange)="onSearchChange()">
      </div>
      <div class="flex-child"><button class="flex-child btn btn-default view-loaded-test-packages" (click)="statusClick()">View Loaded Test Packages</button></div>
      <div class="flex-child"><button class="btn btn-primary upload-test-package" (click)="uploadClick()">Upload New Test Package</button></div>
    </div>
  </div>
  <div class="test-package-jobs-list-container">
    <p-dataTable [value]="filteredTestPackageJobs"
                 emptyMessage="No Test Package load jobs found for the specific test package id."
                 dataKey="id"
                 sortField="createdAt"
                 sortOrder="-1"
                 selectionMode="single"
                 [(selection)]="selectedJob"
                 tableStyleClass="table table-striped table-hover overflow"
                 [paginator]="true"
                 [rows]="10"
                 (onRowSelect)="onRowSelect($event)">
      <p-column field="testPackageName" header="Test Package Name" [sortable]="true"></p-column>
      <p-column field="createdAt" header="Date Created" [sortable]="true">
        <ng-template let-job="rowData" pTemplate="body">
          {{ job.createdAt.toLocaleString()}}
        </ng-template>
      </p-column>
      <p-column field="type" header="Job Type" [style]="{'width':'100px'}" [sortable]="true"></p-column>
      <p-column field="validationStepStatus">
        <ng-template pTemplate="header">
          <div class="text-align-center">Validation</div>
        </ng-template>
        <ng-template let-job="rowData" pTemplate="body">
          <ng-container [ngSwitch]="job.validationStepStatus">
            <div class="text-align-center">
              <i *ngSwitchCase="StepStatuses.Success" class="fa fa-check-circle load-success" title="Validation was successful"></i>
              <i *ngSwitchCase="StepStatuses.Fail" class="fa fa-exclamation-circle load-failure" title="Validation failed"></i>
              <i *ngSwitchCase="StepStatuses.NotApplicable" class="fa fa-minus load-not-applicable"></i>
              <i *ngSwitchCase="StepStatuses.InProgress" class="fa fa-refresh" title="Validation is in progress"></i>
              <i *ngSwitchCase="StepStatuses.NotStarted" class="fa fa-hourglass" title="Validation is pending"></i>
            </div>
          </ng-container>
        </ng-template>
      </p-column>
      <p-column field="tdsStepStatus">
        <ng-template pTemplate="header">
          <div class="text-align-center">TDS</div>
        </ng-template>
        <ng-template let-job="rowData" pTemplate="body">
          <ng-container [ngSwitch]="job.tdsStepStatus">
            <div class="text-align-center">
              <ng-container *ngSwitchCase="StepStatuses.Success">
                <i *ngIf="job.type !== 'ROLLBACK'" class="fa fa-check-circle load-success" title="The job was successful"></i>
                <i *ngIf="job.type === 'ROLLBACK'" class="fa fa-undo load-success" title="The job was successful"></i>
              </ng-container>
              <i *ngSwitchCase="StepStatuses.Fail" class="fa fa-exclamation-circle load-failure" title="The job has failures"></i>
              <i *ngSwitchCase="StepStatuses.NotApplicable" class="fa fa-minus load-not-applicable"></i>
              <i *ngSwitchCase="StepStatuses.InProgress" class="fa fa-refresh" title="The job is in progress"></i>
              <i *ngSwitchCase="StepStatuses.NotStarted" class="fa fa-hourglass" title="The job is pending"></i>
            </div>
          </ng-container>
        </ng-template>
      </p-column>
      <p-column field="artStepStatus">
        <ng-template pTemplate="header">
          <div class="text-align-center">ART</div>
        </ng-template>
        <ng-template let-job="rowData" pTemplate="body">
          <ng-container [ngSwitch]="job.artStepStatus">
            <div class="text-align-center">
              <ng-container *ngSwitchCase="StepStatuses.Success">
                <i *ngIf="job.type !== 'ROLLBACK'" class="fa fa-check-circle load-success" title="The job was successful"></i>
                <i *ngIf="job.type === 'ROLLBACK'" class="fa fa-undo load-success" title="The job was successful"></i>
              </ng-container>
              <i *ngSwitchCase="StepStatuses.Fail" class="fa fa-exclamation-circle load-failure" title="The job has failures"></i>
              <i *ngSwitchCase="StepStatuses.NotApplicable" class="fa fa-minus load-not-applicable"></i>
              <i *ngSwitchCase="StepStatuses.InProgress" class="fa fa-refresh" title="The job is in progress"></i>
              <i *ngSwitchCase="StepStatuses.NotStarted" class="fa fa-hourglass" title="The job is pending"></i>
            </div>
          </ng-container>
        </ng-template>
      </p-column>
      <p-column field="tisStepStatus">
        <ng-template pTemplate="header">
          <div class="text-align-center">TIS</div>
        </ng-template>
        <ng-template let-job="rowData" pTemplate="body">
          <ng-container [ngSwitch]="job.tisStepStatus">
            <div class="text-align-center">
              <ng-container *ngSwitchCase="StepStatuses.Success">
                <i *ngIf="job.type !== 'ROLLBACK'" class="fa fa-check-circle load-success" title="The job was successful"></i>
                <i *ngIf="job.type === 'ROLLBACK'" class="fa fa-undo load-success" title="The job was successful"></i>
              </ng-container>
              <i *ngSwitchCase="StepStatuses.Fail" class="fa fa-exclamation-circle load-failure" title="The job has failures"></i>
              <i *ngSwitchCase="StepStatuses.NotApplicable" class="fa fa-minus load-not-applicable"></i>
              <i *ngSwitchCase="StepStatuses.InProgress" class="fa fa-refresh" title="The job is in progress"></i>
              <i *ngSwitchCase="StepStatuses.NotStarted" class="fa fa-hourglass" title="The job is pending"></i>
            </div>
          </ng-container>
        </ng-template>
      </p-column>
      <p-column field="thssStepStatus" header="THSS">
        <ng-template pTemplate="header">
          <div class="text-align-center">THSS</div>
        </ng-template>
        <ng-template let-job="rowData" pTemplate="body">
          <ng-container [ngSwitch]="job.thssStepStatus">
            <div class="text-align-center">
              <ng-container *ngSwitchCase="StepStatuses.Success">
                <i *ngIf="job.type !== 'ROLLBACK'" class="fa fa-check-circle load-success" title="The job was successful"></i>
                <i *ngIf="job.type === 'ROLLBACK'" class="fa fa-undo load-success" title="The job was successful"></i>
              </ng-container>
              <i *ngSwitchCase="StepStatuses.Fail" class="fa fa-exclamation-circle load-failure" title="The job has failures"></i>
              <i *ngSwitchCase="StepStatuses.NotApplicable" class="fa fa-minus load-not-applicable"></i>
              <i *ngSwitchCase="StepStatuses.InProgress" class="fa fa-refresh" title="The job is in progress"></i>
              <i *ngSwitchCase="StepStatuses.NotStarted" class="fa fa-hourglass" title="The job is pending"></i>
            </div>
          </ng-container>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
