<div>
  <!-- Test Package Jobs Table -->
  <div class="form-group">
    <div class="flex-children gray-lightest pt-sm pr-sm pb-sm pl-sm test-package-jobs-search-form-container">
      <label for="search" class="sr-only">Search by Test Package Name</label>
      <div class="flex-child grow">
        <input [(ngModel)]="searchTerm" class="flex-child search form-control" id="search" type="text" placeholder="Search by Test Package Name"
             autocomplete="off" (ngModelChange)="onSearchChange()">
      </div>
      <div class="flex-child"><button class="flex-child btn view-loaded-test-packages" (click)="statusClick()">View Loaded Test Packages</button></div>
      <div class="flex-child"><button class="btn btn-primary upload-test-package" (click)="uploadClick()">Upload New Test Package</button></div>
    </div>
  </div>
  <div class="test-package-jobs-list-container">
    <p-dataTable [value]="filteredTestPackageJobs"
                 emptyMessage="No Test Package load jobs found for the specific test package id."
                 dataKey="id"
                 sortField="createdAt"
                 sortOrder="-1"
                 selectionMode="single"
                 [(selection)]="selectedJob"
                 tableStyleClass="table table-striped table-hover overflow"
                 [paginator]="true"
                 [rows]="10"
                 (onRowSelect)="onRowSelect($event)">
      <p-column field="id" header="ID" [sortable]="true"></p-column>
      <p-column field="type" header="Type" [sortable]="true"></p-column>
      <p-column field="testPackageName" header="Test Package Name" [sortable]="true"></p-column>
      <p-column field="createdAt" header="Date Created" [sortable]="true">
        <ng-template let-job="rowData" pTemplate="body">
          {{ job.createdAt | date: 'short' }}
        </ng-template>
      </p-column>
      <p-column field="tdsStepStatus" header="TDS">
        <ng-template let-job="rowData" pTemplate="body">
          <ng-container [ngSwitch]="job.tdsStepStatus">
            <i *ngSwitchCase="StepStatuses.Success" class="fa fa-check-circle" title="The job was successful"></i>
            <i *ngSwitchCase="StepStatuses.Fail" class="fa fa-exclamation-circle" title="The job has failures"></i>
            <i *ngSwitchCase="StepStatuses.NotApplicable" class="fa fa-minus"></i>
            <i *ngSwitchCase="StepStatuses.InProgress" class="fa fa-refresh" title="The job is in progress"></i>
            <i *ngSwitchCase="StepStatuses.NotStarted" class="fa fa-hourglass" title="The job is pending"></i>
          </ng-container>
        </ng-template>
      </p-column>
      <p-column field="artStepStatus" header="ART">
        <ng-template let-job="rowData" pTemplate="body">
          <ng-container [ngSwitch]="job.artStepStatus">
            <i *ngSwitchCase="StepStatuses.Success" class="fa fa-check-circle" title="The job was successful"></i>
            <i *ngSwitchCase="StepStatuses.Fail" class="fa fa-exclamation-circle" title="The job has failures"></i>
            <i *ngSwitchCase="StepStatuses.NotApplicable" class="fa fa-minus"></i>
            <i *ngSwitchCase="StepStatuses.InProgress" class="fa fa-refresh" title="The job is in progress"></i>
            <i *ngSwitchCase="StepStatuses.NotStarted" class="fa fa-hourglass" title="The job is pending"></i>
          </ng-container>
        </ng-template>
      </p-column>
      <p-column field="tisStepStatus" header="TIS">
        <ng-template let-job="rowData" pTemplate="body">
          <ng-container [ngSwitch]="job.tisStepStatus">
            <i *ngSwitchCase="StepStatuses.Success" class="fa fa-check-circle" title="The job was successful"></i>
            <i *ngSwitchCase="StepStatuses.Fail" class="fa fa-exclamation-circle" title="The job has failures"></i>
            <i *ngSwitchCase="StepStatuses.NotApplicable" class="fa fa-minus"></i>
            <i *ngSwitchCase="StepStatuses.InProgress" class="fa fa-refresh" title="The job is in progress"></i>
            <i *ngSwitchCase="StepStatuses.NotStarted" class="fa fa-hourglass" title="The job is pending"></i>
          </ng-container>
        </ng-template>
      </p-column>
      <p-column field="thssStepStatus" header="THSS">
        <ng-template let-job="rowData" pTemplate="body">
          <ng-container [ngSwitch]="job.thssStepStatus">
            <i *ngSwitchCase="StepStatuses.Success" class="fa fa-check-circle" title="The job was successful"></i>
            <i *ngSwitchCase="StepStatuses.Fail" class="fa fa-exclamation-circle" title="The job has failures"></i>
            <i *ngSwitchCase="StepStatuses.NotApplicable" class="fa fa-minus"></i>
            <i *ngSwitchCase="StepStatuses.InProgress" class="fa fa-refresh" title="The job is in progress"></i>
            <i *ngSwitchCase="StepStatuses.NotStarted" class="fa fa-hourglass" title="The job is pending"></i>
          </ng-container>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
